/* Acá va tu código */
body {
 color: white;
 background-color: #333e35;
 font-family: roboto,sans-serif;
 }
 h1 {
  text-decoration: underline;
 }
 #btn_1, #btn_2, #btn_2A, #btn_2B, #btn_3A, #btn_3A2 {
background: #bbd003; 
font-family: 'Mukta', sans-serif;
 font-weight: 800;
}